{% extends 'blog/base.html' %}
{% block content %}
    <h3>About</h3>

    <br />

    <div class="container">
      <h5>| Who am I?</h5>
    </div>

    <br />
    <p>I'm definitely interesting in <b>computers</b> and <b>coding</b> itself; I love <a href="https://torproject.org">Tor</a>, <a href="https://wikileaks.org">Wiki Leaks</a>, <a href="https://electrum.org/">Electrum</a>, <a href="https://nordvpn.com">Nord VPN</a>. <b>I hightly recommend you get rid off</b> Google and Google services (It's better to use <a href="https://duckduckgo.com">DuckDuckGo</a> and <a href="https://protonmail.com">Protonmail</a> instead of Gmail), delete all your Facebook, Instagram, WhatsApp accounts (You can use <a href="https://telegram.org">Telegram</a> or <a href="https://briarproject.org/">Briar</a> instead).
    <br />
{% endblock content %}
